<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">Change Password</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <div class="dialog-column">
      <mat-form-field appearance="fill">
        <mat-label>old Password</mat-label>
        <input
          matInput
          formControlName="oldPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.oldPassword.touched &&
            changePasswordForm.controls.oldPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.name.oldPassword.required"
            >This Field Is Required</span
          >
          <span *ngIf="changePasswordForm.controls.name.oldPassword.pattern"
            >This Field Is Invalid</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.newPassword.touched &&
            changePasswordForm.controls.newPassword.invalid
          "
        >
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required"
            >This Field Is Required</span
          >
          <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern"
            >This Field Is Invalid</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            changePasswordForm.controls.confirmPassword.touched &&
            changePasswordForm.controls.confirmPassword.invalid
          "
        >
          <span
            *ngIf="changePasswordForm.controls.confirmPassword.errors.required"
            >This Field Is Required</span
          >
          <span
            *ngIf="changePasswordForm.controls.confirmPassword.errors.pattern"
            >This Field Is Invalid</span
          >
        </mat-error>
        <mat-hint
          *ngIf="
            validateSubmit() &&
            !changePasswordForm.controls.confirmPassword.invalid
          "
        >
          <span>New Password does not match with confirmed password</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center" style="margin-bottom: 10px">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleChangePassword()"
    [disabled]="
      validateSubmit() ||
      !(changePasswordForm.valid && changePasswordForm.dirty)
    "
  >
    Update Password
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
