<div class="container">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>
    <form [formGroup]="checkOutForm">
      <input
        type="text"
        formControlName="name"
        label="Name"
        style="border: none"
      />
      <input
        type="text"
        formControlName="address"
        label="Address"
        style="border: none; margin-top: 10px"
      />
    </form>
    <app-order-items-list [order]="order"></app-order-items-list>
  </div>
  <div class="map">
    <app-title title="Choose Your Address" fontSize="1.6rem"></app-title>
    <map [order]="order"></map>
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">Go To Payment</button>
    </div>
  </div>
</div>
