
* {
  outline: none;
  box-sizing: border-box;
}

body {
//   font-family: $bodyfont;
  margin: 0;
  overflow-x: hidden;
  color: white;
  padding: 10px;
  font-weight: 300;
//   background: inverse;
}

html {
  position: relative;
  min-height: 100%;
  background: white;
}


.float-right{
    float: right;
}

mat-card{
    padding: 20px;
}

table{
    width: 100%;
}